/* Reset some default styles */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

/* index.html*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
h2{
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Additional styles */
section {
    margin-bottom: 30px;
}

.anime-card, .news-article, .event-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.anime-card img {
    width: 100%;
    border-radius: 8px;
}

.anime-card h3, .news-article h3, .event-card h3 {
    margin-top: 10px;
}
/*library.html*/
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.active {
    font-weight: bold;
}

#anime-library {
    padding: 20px;
}

.anime-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.anime-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.anime-card img {
    max-width: 100%;
    height: auto;
}

.anime-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

.anime-card p {
    margin-top: 5px;
    font-size: 1em;
}
/*Login.html*/
.popup {
    display: none;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
